<div class="content">
    <h2>Affiliations</h2>
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <img
                    class="school-icon"
                    src="{{ '/assets/img/schools/cmu.png' | relative_url }}"
                    alt=""
                />
                <div class="caption"> 
                    <a style="font-size: 10px">Ph.D. in Robotics</a>
                    <br />
                    <a style="font-size: 10px">School of Computer Science</a>
                    <br />
                    <a style="font-size: 10px">Aug 2021-Present</a>
                </div>    
            </div>

               <div class="col-sm-2">
                   <img
                    class="school-icon"
                    src="{{ '/assets/img/jobs/meta.png' | relative_url }}"
                    alt=""
                    title="example image"
                />
                <div class="caption"> 
                    <a style="font-size: 10px">Visting Researcher</a>
                    <br />
                    <a style="font-size: 10px">Meta Reality Labs</a>
                    <br />
                    <a style="font-size: 10px">PI: <a style="font-size: 10px; color:DodgerBlue  " href="https://sites.google.com/view/xuweipeng">Weipeng Xu</a></a>
                    <br />
                    
                    <a style="font-size: 10px">Aug 2022-Aug 2023</a>
                </div>   
            </div>
             <div class="col-sm-2">
                   <img
                    class="school-icon"
                    src="{{ '/assets/img/jobs/nvidia.png' | relative_url }}"
                    alt=""
                    title="example image"
                />
                <div class="caption"> 
                    <p style="font-size: 1w">
                    <a style="font-size: 10px">Research Scientist Intern, Toronto AI Lab</a>
                    <br />
                    <a style="font-size: 10px">PI: <a style="font-size: 10px; color:DodgerBlue" href="https://www.cs.utoronto.ca/~fidler/">Sanja Fidler</a></a>
                    <br />
                    <a style="font-size: 10px">May 2022-Aug 2022</a>
                    </p>
                </div>   
            </div>
            
            <div class="col-sm-2">

                   <img
                        class="school-icon"
                        src="{{ '/assets/img/schools/cmu.png' | relative_url }}"
                        alt=""
                    />
                    <div class="caption"> 
                        <p style="font-size: 1w">
                        <a style="font-size: 10px">M.S in Robotics</a>
                        <br />
                        <a style="font-size: 10px">School of Computer Science</a>
                        <br />
                        <a style="font-size: 10px">Aug 2019-Aug 2021</a>
                        </p>
                    </div>   
            </div>

         


            <div class="col-sm-2">
                   <img
                    class="school-icon"
                    src="{{ '/assets/img/jobs/apple.png' | relative_url }}"
                    alt=""
                />
                <div class="caption"> 
                    <a style="font-size: 10px">3D Software Engineer Intern, AR/VR</a>
                    <br />
                    <a style="font-size: 10px">PI: <a style="font-size: 10px; color:DodgerBlue" href="https://www.linkedin.com/in/novaira-masood-1322b91/">Novaira Masood</a></a>
                    <br />
                    <a style="font-size: 10px">May 2018/2019-August 2018/2019</a>
                </div>   
            </div>

            <div class="col-sm-2">
                <img
                    class="school-icon"
                    src="{{ '/assets/img/schools/penn_logo.png' | relative_url }}"
                    alt=""
                />
                <div class="caption"> 
                    <p style="font-size: 1w">
                    <a style="font-size: 10px">B.S.E in CS</a>
                    <br />
                    <a style="font-size: 10px"
                        >School of Engineering and Applied Science</a
                    >
                    <br />
                    <a style="font-size: 10px">Aug 2015-May 2019</a>
                    </p>
                </div>   
            </div>

            
           
        </div>
    </div>
  
</div>
