<div class="content">
    <div class="container">
      <div class="row justify-content-center">
        <!-- Image 1 -->
        <div class="col-sm-1 d-flex justify-content-center align-items-center">
          <img class="school-icon" src="{{ '/assets/img/logos/cmu.png' | relative_url }}" alt="CMU" />
        </div>
        <!-- Image 2 -->
        <div class="col-sm-1 d-flex justify-content-center align-items-center">
          <img class="school-icon" src="{{ '/assets/img/logos/tesla.png' | relative_url }}" alt="Tesla" />
        </div>
        <!-- Image 3 -->
        <div class="col-sm-1 d-flex justify-content-center align-items-center">
          <img class="school-icon" src="{{ '/assets/img/logos/clarivate.png' | relative_url }}" alt="Clarivate" />
        </div>
        <!-- Image 4 -->
        <div class="col-sm-1 d-flex justify-content-center align-items-center">
          <img class="school-icon" src="{{ '/assets/img/logos/sofi.webp' | relative_url }}" alt="SoFi" />
        </div>
        <!-- Image 5 -->
        <div class="col-sm-1 d-flex justify-content-center align-items-center">
          <img class="school-icon" src="{{ '/assets/img/logos/meitu.webp' | relative_url }}" alt="Meitu" />
        </div>
        <!-- Image 6 -->
        <div class="col-sm-1 d-flex justify-content-center align-items-center">
          <img class="school-icon" src="{{ '/assets/img/logos/kwai.png' | relative_url }}" alt="Kwai" />
        </div>
        <!-- Image 7 -->
        <div class="col-sm-1 d-flex justify-content-center align-items-center">
          <img class="school-icon" src="{{ '/assets/img/logos/netease.webp' | relative_url }}" alt="NetEase" />
        </div>
        <!-- Image 8 -->
        <div class="col-sm-1 d-flex justify-content-center align-items-center">
          <img class="school-icon" src="{{ '/assets/img/logos/xmu.png' | relative_url }}" alt="XMU" />
        </div>
      </div>
    </div>
  </div>
  